<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/styles.css"/>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
